@import "tailwindcss";

:root {
  --black: #040605;
  --white: #eef4e0;
  --green: #69d346;
  --l-green: #97b58b;
  --gray: #a5aca0;
  --l-gray: #d2dbcd;

  --background: #8c7d900b;

  --a: #9bbc8e;
  --a-hover: #b3eca9;
  --a-visited: #708f63;
  --a-visited-hover: #89cb7d;
  --a-underline: #355c24;
  --a-underline-hover: #519b32;
  --a-underline-visited: #295814;
  --a-underline-visited-hover: #468929;

  --blockquote: #79927528;

  --img-background: #8c7d902b;
  --img-backdrop: #79927518;
  --img-backdrop-accent: #97b58b;

  /* info: darker --img-backdrop for future reference: #97b58b10 */
  /* --img-backdrop-accent: #000; */
  /* --img-backdrop-accent: #9bbc8e; */

  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.2px;
}

#article {
  hyphens: auto;
  overflow-wrap: break-word;
  text-rendering: optimizeLegibility;
  font-kerning: normal;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-image: linear-gradient(
      to right,
      var(--background) 20px,
      transparent 1.5px
    ),
    linear-gradient(to bottom, #05b20e05 0.5px, transparent 1px);
  background-size: 24px 16px;
  background-color: #000;
}
#article nav {
  background-image: linear-gradient(to right, #201a1b14 23px, transparent 1px),
    linear-gradient(to bottom, #0700004b 1px, transparent 1px);
  background-size: 28px 18px;
}
#article main {
  padding: 0.25rem 1rem 0rem 1rem;
  max-width: 750px;
}

/* MARK: <p>
*/
#article p {
  margin: 1rem 0;
  border-left: 2px solid transparent;
  font-size: 1rem;
  line-height: 1.55;
  word-break: auto-phrase;
  overflow-wrap: normal;
}
#article header ~ p:hover {
  border-left: 2px solid #23222388;
}

/* MARK: headers
*/
#article h1,
#article h2,
#article h3,
#article h4,
#article h5,
#article h6 {
  margin-top: 1.4rem;
  word-break: auto-phrase;
  overflow-wrap: normal;
}
#article h2 {
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 0.1em;
  line-height: 1.4;
}
#article h3 {
  font-size: 1.4rem;
  font-weight: 100;
  letter-spacing: 0.1em;
  line-height: 1.3;
}
#article h4 {
  font-size: 1.3rem;
  font-weight: 100;
  letter-spacing: 0.1em;
  line-height: 1.2;
}
#article h5 {
  font-size: 1.2rem;
  font-weight: 100;
  letter-spacing: 0.1em;
  line-height: 1.1;
}
#article h6 {
  font-size: 1.1rem;
  font-style: italic;
  font-weight: normal;
}

/* MARK: <a>
*/
#article a {
  color: var(--a);
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-color: var(--a-underline);
  text-decoration-thickness: 4px;
  text-underline-offset: 0.1em;
}
#article a:hover {
  color: var(--a-hover);
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-color: var(--a-underline-hover);
  text-decoration-thickness: 3px;
  text-underline-offset: 0.25em;
  transition: all 0.5s ease-in-out;
}
#article p a {
  font-weight: 600;
}

/* MARK: image
*/
#article #img {
  margin: 0;
  padding: 0;
  border-radius: 0.1rem;
  display: block;
  height: auto;
  max-height: 500px;
  width: 100%;
  background-image: linear-gradient(
      to right,
      var(--img-background) 21px,
      transparent 1px
    ),
    linear-gradient(to bottom, #05b20e08 0.5px, transparent 1px);
  background-size: 24px 16px;
  background-color: #000;
}
#article #img > img {
  margin: 1.25rem 0;
  border-radius: 0.1rem;
  box-shadow: 0 0 18px 6px #000000cc;
  object-fit: cover;
  object-position: center;
  display: block;
  height: auto;
  max-height: 500px;
  width: 100%;
  aspect-ratio: 1.85 / 1;
  transition: all 1s ease-in-out;
  transition-delay: 0.1s;
  opacity: 90%;
}
#article #img > img:hover {
  transform: scale(1.025, 1.025);
  transition: all 1s ease-in-out;
  transition-delay: 0.05s;
  opacity: 100%;
  filter: brightness(1.05);
  box-shadow: 30vw 70px 0px -70px var(--img-backdrop),
    -30vw -70px 0px -70px var(--img-backdrop),
    32vw 70px 0px -200px var(--img-backdrop-accent),
    -32vw -70px 0px -200px var(--img-backdrop-accent);
}
/* info: easter egg */
#article #img > img:active {
  transform: scale(1.5, 1.5);
  outline: 2px solid var(--green);
  outline-offset: 4px;
  box-shadow: 0 0 18px 6px var(--white), 0 0 18px 6px var(--green),
    0 0 18px 6px var(--green);
  transition: all 0.5s ease-in-out;
  transition-delay: 0.05s;
}

/* MARK: <ol>,<ul>
*/
#article ol,
#article ul {
  margin-top: 1rem;
}
#article ol > li,
#article ul > li {
  margin-top: 0;
}
#article li {
  margin: 0.25rem 1.5rem;
  list-style-type: square;
  list-style-position: outside;
  list-style-image: linear-gradient(
    transparent 0%,
    transparent 30%,
    var(--gray) 30%,
    var(--gray) 45%,
    transparent 45%,
    transparent 100%
  );
}
#article blockquote li {
  margin: 0.25rem 1.75rem;
  list-style-position: inside;
}

/* MARK: quote
*/
#article blockquote {
  margin: 1rem 3px 1rem 3px;
  padding: 0.75rem 1rem 0.75rem 1.75rem;
  color: var(--l-green);
  background-color: var(--black);
  background-image: linear-gradient(
    to right,
    transparent 0%,
    var(--blockquote) 100%
  );
  border-left: 1px solid #89cb7d;
  word-break: auto-phrase;
  overflow-wrap: normal;
  text-indent: -0.75ch;
  quotes: "“" "”" "'" "'";
}
@supports (hanging-punctuation: first) {
  #article blockquote {
    text-indent: 0;
    hanging-punctuation: first;
  }
}
#article blockquote::before {
  content: open-quote;
}
#article blockquote::after {
  content: close-quote;
}
#article blockquote#no-quote::before,
#article blockquote#no-quote::after {
  content: none;
}

/* MARK: <table>
*/
#article table {
  margin: 1em 0;
  border-collapse: collapse;
  width: 100%;
  overflow-x: auto;
  display: block;
  font-variant-numeric: lining-nums tabular-nums;
}
#article table caption {
  margin-bottom: 0.75em;
}
#article tbody {
  margin-top: 0.5em;
  border-top: 1px solid #1a1a1a;
  border-bottom: 1px solid #1a1a1a;
}
#article th {
  border-top: 1px solid #1a1a1a;
  padding: 0.25em 0.5em 0.25em 0.5em;
}
#article td {
  padding: 0.125em 0.5em 0.25em 0.5em;
}

/* MARK: #info
*/
#article div#info {
  display: flex;
  justify-content: space-between;
  margin-top: 0.75rem;
  font-size: 1.15rem;
  font-weight: 100;
}
#article div#info + h2,
#article div#info + p,
#article div#info + blockquote {
  margin-top: 1.25rem;
}

/* MARK: #thanks
*/
#article p#thanks {
  margin: 1rem 0;
  font-size: 1.2rem;
  font-weight: 100;
  letter-spacing: 0.1em;
  line-height: 1.6;
  color: var(--gray);
  font-style: italic;
}

/* MARK: #unfinished
*/
#article main#unfinished > h1 {
  font-size: 2.5rem;
  font-weight: 900;
  letter-spacing: 0.1em;
  line-height: 1.2;
  margin: 2.5rem 0 0rem 0;
  opacity: 80%;
  padding: 1.5rem 2rem 1.5rem 2rem;
  color: var(--black);
  background-color: var(--red);
  border-radius: 0.1rem;
  border: 10px dashed var(--black);
  text-align: center;
  text-transform: uppercase;
  transition: all 0.5s ease-in-out;
}
#article main#unfinished ~ div > p#thanks {
  display: none;
}

/* MARK: #TOC
*/
#TOC li {
  list-style: none;
}
#TOC ul {
  padding-left: 1.3em;
}
#TOC > ul {
  padding-left: 0;
}
#TOC a:not(:hover) {
  text-decoration: none;
}

/* MARK: <nav>
*/
#article nav a {
  color: #66c746 !important;
  text-decoration: none;
  font-size: 1.75em;
  font-weight: 100;
}
#article nav a:visited {
  color: #69d346 !important;
  text-decoration: none;
  font-size: 1.75em;
  font-weight: 100;
}
#article nav a:hover,
#article nav a:visited:hover {
  color: var(--white) !important;
  text-decoration: none;
  opacity: 75%;
}

/* MARK: etc.
 */
/* ! not sure if this is ever used in articles */
#article pre {
  margin: 1em 0;
  overflow: auto;
}
